<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://bostonglobe-prod.cdn.arcpublishing.com/resizer/FP1GJPmPpu61YAv553ZgMRpHvNk=/1440x0/arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/HCIJCIQ2UAI6VKP2L3WHYVGSUE.jpg">
    <script src="/js/app.js"></script>
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{helpText}}</p>
    </div>
    {{>footer}}
  </body>
</html>
